body {
}

.subhead {
  font-size: 22px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select {
  padding: 16px;
  font-size: 18px;
  border: 2px solid #111;
}

button {
  padding: 18px;
  background: #111;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

.hidden {
  display: none;
}

.certificate {
  margin-top: 40px;
  padding: 30px;
  border: 4px double #111;
  background: #fff;
}

.leave-letter {
  margin-top: 40px;
  background: #fff;
  padding: 30px;
  border: 2px solid #111;
}

.hashtag {
  margin-top: 60px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}